<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=DESKTOP-FJFPA91;Initial Catalog=SDaA_Server;Integrated Security=True"/>
		<add key="CryptKey" value="780D32D4980EC9AF7FDC309803852491AB516B685434B47E18B067ABCBB5E67E"/>
		<add key="CryptIV" value="6E2498D1686B0A5BCF96BDF789F4F1AC"/>
		<add key="Host" value="http://localhost:13000/"/>
	</appSettings>
</configuration>